<div class="game-pad">
  <p>Current Turn : {{currentTurn}}</p>
  <div *ngFor="let line of gamePad; index as row" class="game-pad-line">
    <div (click)="markBox(row, column)" *ngFor="let box of line; index as column" class="game-pad-box">
      <div class="box" id="{{row}}-{{column}}" *ngIf="box === 'X' || box === 'O'">
        {{box}}
      </div>
    </div>
  </div>
  <div *ngIf="winner || draw">
    <h1 *ngIf="winner" class="result">
      {{currentTurn}} wins!!!
    </h1>
    <h1 *ngIf="draw" class="result">
      DRAW!
    </h1>
    <button type="button" class="btn btn-primary" (click)="clearGamePad()">Start a new game</button>
  </div>
</div>